<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xydz.suppliermateriallabelprintingtool.mapper.MaterielMapper">
    <select id="selMateriel" resultType="com.xydz.suppliermateriallabelprintingtool.entity.Materiel">
        select
            a.PK_ORDER,PK_ORDER_B,VBILLCODE,MATERCODE,MATERNAME,MATERMATERIALSPEC,MATERMATERIALTYPE
        from ncc.view_xinya_po_order@DBLIK_PURCHASE a
            join ncc.view_xinya_po_order_b@DBLIK_PURCHASE b
                on a.PK_ORDER = b.PK_ORDER
        where SUPPCODE = #{suppCode}
    </select>
</mapper>