<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xydz.suppliermateriallabelprintingtool.mapper.MaterielMapper">

    <resultMap id="map" type="com.xydz.suppliermateriallabelprintingtool.entity.Materiel">
        <id property="PK_ORDER_B" column="PK_ORDER_B" jdbcType="VARCHAR"></id>
        <result property="PK_ORDER" column="PK_ORDER" jdbcType="VARCHAR"></result>
        <result property="VBILLCODE" column="VBILLCODE" jdbcType="VARCHAR"></result>
        <result property="MATERCODE" column="MATERCODE" jdbcType="VARCHAR"></result>
        <result property="MATERNAME" column="MATERNAME" jdbcType="VARCHAR"></result>
        <result property="MATERMATERIALSPEC" column="MATERMATERIALSPEC" jdbcType="VARCHAR"></result>
        <result property="MATERMATERIALTYPE" column="MATERMATERIALTYPE" jdbcType="VARCHAR"></result>
        <result property="NUM" column="NUM" jdbcType="DOUBLE"></result>
        <result property="DBILLDATE" column="DBILLDATE" jdbcType="DATE"></result>
    </resultMap>

    <select id="selMateriel" resultMap="map">
        select
            a.PK_ORDER,PK_ORDER_B,VBILLCODE,MATERCODE,MATERNAME,MATERMATERIALSPEC,MATERMATERIALTYPE,NUM,DBILLDATE
        from ncc.view_xinya_po_order@DBLIK_PURCHASE a
            join ncc.view_xinya_po_order_b@DBLIK_PURCHASE b
                on a.PK_ORDER = b.PK_ORDER
        where SUPPCODE = #{suppCode}
    </select>

    <select id="searchMateriels" resultMap="map">
        select
            a.PK_ORDER,PK_ORDER_B,VBILLCODE,MATERCODE,MATERNAME,MATERMATERIALSPEC,MATERMATERIALTYPE,NUM,DBILLDATE
        from ncc.view_xinya_po_order@DBLIK_PURCHASE a
                 join ncc.view_xinya_po_order_b@DBLIK_PURCHASE b
                      on a.PK_ORDER = b.PK_ORDER
        <where>
            SUPPCODE = #{suppCode}
            <if test="search!=null || search!=''">
                and (VBILLCODE like CONCAT(CONCAT('%',#{search}),'%')
                    or MATERCODE like CONCAT(CONCAT('%',#{search}),'%')
                    or MATERNAME like CONCAT(CONCAT('%',#{search}),'%')
                    or MATERMATERIALSPEC like CONCAT(CONCAT('%',#{search}),'%')
                    or MATERMATERIALTYPE like CONCAT(CONCAT('%',#{search}),'%')
                    )
            </if>
        </where>
    </select>

    <select id="getMateriel" resultMap="map">
        select
        a.PK_ORDER,PK_ORDER_B,VBILLCODE,MATERCODE,MATERNAME,MATERMATERIALSPEC,MATERMATERIALTYPE,NUM,DBILLDATE
        from ncc.view_xinya_po_order@DBLIK_PURCHASE a
        join ncc.view_xinya_po_order_b@DBLIK_PURCHASE b
        on a.PK_ORDER = b.PK_ORDER
        where
            SUPPCODE = #{suppCode} and MATERCODE=#{MATERCODE}
    </select>
</mapper>