<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xydz.suppliermateriallabelprintingtool.mapper.PrintSheetMapper">

    <resultMap id="map" type="com.xydz.suppliermateriallabelprintingtool.entity.PrintSheet">
        <id property="PK_ORDER_B" column="PK_ORDER_B" jdbcType="VARCHAR"></id>
        <result property="PK_ORDER" column="PK_ORDER" jdbcType="VARCHAR"></result>
        <result property="SUPPCODE" column="SUPPCODE" jdbcType="VARCHAR"></result>
        <result property="SUPPNAME" column="SUPPNAME" jdbcType="VARCHAR"></result>
        <result property="SUPPSHORTNAME" column="SUPPSHORTNAME" jdbcType="VARCHAR"></result>
        <result property="SUPPMATERCODE" column="SUPPMATERCODE" jdbcType="VARCHAR"></result>
        <result property="SUPPLOTNUM" column="SUPPLOTNUM" jdbcType="VARCHAR"></result>
        <result property="VBILLCODE" column="VBILLCODE" jdbcType="VARCHAR"></result>
        <result property="MATERCODE" column="MATERCODE" jdbcType="VARCHAR"></result>
        <result property="MATERNAME" column="MATERNAME" jdbcType="VARCHAR"></result>
        <result property="MATERMATERIALSPEC" column="MATERMATERIALSPEC" jdbcType="VARCHAR"></result>
        <result property="MATERMATERIALTYPE" column="MATERMATERIALTYPE" jdbcType="VARCHAR"></result>
        <result property="PRODUCEDATE" column="PRODUCEDATE" jdbcType="TIMESTAMP"></result>
        <result property="NETWEIGHT" column="NETWEIGHT" jdbcType="DOUBLE"></result>
        <result property="GROSSWEIGHT" column="GROSSWEIGHT" jdbcType="DOUBLE"></result>
        <result property="NUM" column="NUM" jdbcType="DOUBLE"></result>
        <result property="PRINT" column="PRINT" jdbcType="BOOLEAN"></result>
    </resultMap>

    <select id="selPrintSheetIfexist" resultMap="map">
        select * from LPC_PRINTSHEET where PK_ORDER_B = #{pkOrderB} And SUPPLOTNUM=#{suppLotnum}
    </select>

    <insert id="insPrintSheet">
        insert into LPC_PRINTSHEET
        (PK_ORDER,PK_ORDER_B,SUPPCODE,SUPPNAME,SUPPSHORTNAME,SUPPMATERCODE,SUPPLOTNUM,VBILLCODE,MATERCODE,MATERNAME,
         <if test="MATERMATERIALSPEC!=null">
             MATERMATERIALSPEC,
         </if>
        <if test="MATERMATERIALTYPE!=null">
            MATERMATERIALTYPE,
        </if>
        PRODUCEDATE,NETWEIGHT,GROSSWEIGHT,NUM,PRINT)
        values (#{PK_ORDER},#{PK_ORDER_B},#{SUPPCODE},#{SUPPNAME},#{SUPPSHORTNAME},#{SUPPMATERCODE},#{SUPPLOTNUM},#{VBILLCODE},#{MATERCODE},#{MATERNAME},
        <if test="MATERMATERIALSPEC!=null">
            #{MATERMATERIALSPEC},
        </if>
        <if test="MATERMATERIALTYPE!=null">
            #{MATERMATERIALTYPE},
        </if>
            #{PRODUCEDATE},#{NETWEIGHT},#{GROSSWEIGHT},#{NUM},#{PRINT})
    </insert>

    <select id="selPrintSheets" resultMap="map">
        select * from LPC_PRINTSHEET
        <where>
            PRINT = 1
            <if test="suppCode!= null and suppCode!= ''">
                AND SUPPCODE = #{suppCode}
            </if>
        </where>

    </select>

    <select id="selAllPrintSheets" resultMap="map">
        select * from LPC_PRINTSHEET
        <where>
            PRINT = 0
            <if test="suppCode!= null and suppCode!= ''">
                AND SUPPCODE = #{suppCode}
            </if>
        </where>
    </select>

    <select id="selIfPrintSheets" resultMap="map">
        select * from LPC_PRINTSHEET
        <where>
            <if test="SUPPCODE!=null and SUPPCODE!=''">
                and SUPPCODE = #{SUPPCODE}
            </if>
            <if test="SUPPMATERCODE != null and SUPPMATERCODE!=''">
                and SUPPMATERCODE like CONCAT(CONCAT('%',#{SUPPMATERCODE}),'%')
            </if>
            <if test="SUPPLOTNUM!=null and SUPPLOTNUM!=''">
                and SUPPLOTNUM like CONCAT(CONCAT('%',#{SUPPLOTNUM}),'%')
            </if>
            <if test="VBILLCODE!=null and VBILLCODE!=''">
                and VBILLCODE like CONCAT(CONCAT('%',#{VBILLCODE}),'%')
            </if>
            <if test="STARTDATE!=null ">
                and PRODUCEDATE &gt;= TO_DATE(#{STARTDATE},'yyyy-MM-dd')
            </if>
            <if test="ENDDATE!=null ">
                and PRODUCEDATE &lt; TO_DATE(#{ENDDATE},'yyyy-MM-dd')
            </if>
            <if test="COMPLETION=='已完成' ">
                and PRINT = 0
            </if>
            <if test="COMPLETION=='未完成' ">
                and PRINT = 1
            </if>
        </where>
    </select>

    <update id="modPrintSheet">
        update LPC_PRINTSHEET set PRODUCEDATE=#{PRODUCEDATE},NETWEIGHT=#{NETWEIGHT},GROSSWEIGHT={GROSSWEIGHT}where SUPPCODE=#{SUPPCODE}
    </update>

    <update id="modPrintSheetPrint">
        update LPC_PRINTSHEET set PRINT = 0 where PK_ORDER_B=#{PK_ORDER_B}
    </update>

</mapper>