<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xydz.suppliermateriallabelprintingtool.mapper.PrintHistoryMapper">

    <resultMap id="map" type="com.xydz.suppliermateriallabelprintingtool.entity.PrintHistory">
        <id property="PK_ORDER_B" column="PK_ORDER_B" jdbcType="VARCHAR"></id>
        <result property="PK_ORDER" column="PK_ORDER" jdbcType="VARCHAR"></result>
        <result property="SUPPCODE" column="SUPPCODE" jdbcType="VARCHAR"></result>
        <result property="LOTNUM" column="LOTNUM" jdbcType="VARCHAR"></result>
        <result property="PRINTDATE" column="PRINTDATE" jdbcType="TIMESTAMP"></result>
        <result property="PALLET" column="PALLET" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="showMap" type="com.xydz.suppliermateriallabelprintingtool.entity.ShowPrintHistory">
        <id property="PK_ORDER_B" column="PK_ORDER_B" jdbcType="VARCHAR"></id>
        <result property="PK_ORDER" column="PK_ORDER" jdbcType="VARCHAR"></result>
        <result property="MATERNAME" column="MATERNAME" jdbcType="VARCHAR"></result>
        <result property="SUPPMATERCODE" column="SUPPMATERCODE" jdbcType="VARCHAR"></result>
        <result property="PRODUCEDATE" column="PRODUCEDATE" jdbcType="TIMESTAMP"></result>
        <result property="LOTNUM" column="LOTNUM" jdbcType="VARCHAR"></result>
        <result property="NETWEIGHT" column="NETWEIGHT" jdbcType="DOUBLE"></result>
        <result property="GROSSWEIGHT" column="GROSSWEIGHT" jdbcType="DOUBLE"></result>
        <result property="SUPPLOTNUM" column="SUPPLOTNUM" jdbcType="VARCHAR"></result>
        <result property="MATERMATERIALSPEC" column="MATERMATERIALSPEC" jdbcType="VARCHAR"></result>
        <result property="MATERMATERIALTYPE" column="MATERMATERIALTYPE" jdbcType="VARCHAR"></result>
        <result property="PRINTDATE" column="PRINTDATE" jdbcType="TIMESTAMP"></result>
        <result property="PALLET" column="PALLET" jdbcType="VARCHAR"></result>
    </resultMap>

    <insert id="insPrintHistory">
        insert into LPC_PRINTHISTORY values (#{PK_ORDER},#{PK_ORDER_B},#{SUPPCODE},#{LOTNUM},#{PRODUCEDATE},#{NETWEIGHT},#{GROSSWEIGHT},#{SUPPLOTNUM},#{PRINTDATE},#{PALLET})
    </insert>

    <delete id="delPrintHistory">
        delete from LPC_PRINTHISTORY where PK_ORDER_B = #{PK_ORDER_B} and LOTNUM = #{LOTNUM}
    </delete>

    <select id="selPrintHistoryNum" resultType="com.xydz.suppliermateriallabelprintingtool.entity.Print">
        select count(*) HistoryNum,max(lps.num) Num from LPC_PRINTHISTORY lph join LPC_PRINTSHEET lps ON lph.pk_order_b = lps.pk_order_b where lps.PK_ORDER_B = #{PK_ORDER_B} And lph.SUPPLOTNUM=#{SUPPLOTNUM} And lps.SUPPLOTNUM=#{SUPPLOTNUM}
    </select>

    <select id="selMaxLOTNUM" resultType="java.lang.String">
        select max(lph.LOTNUM) from LPC_PRINTHISTORY lph join LPC_PRINTSHEET lps
        ON lph.pk_order_b = lps.pk_order_b where lps.PK_ORDER_B = #{PK_ORDER_B} and lph.PRINTDATE=#{PRINTDATE}
    </select>

    <select id="selPrintHistory" resultMap="showMap">
        select lph.PK_ORDER,lph.PK_ORDER_B,MATERNAME,SUPPMATERCODE,lph.PRODUCEDATE,LOTNUM,lph.NETWEIGHT,lph.GROSSWEIGHT,lph.SUPPLOTNUM,MATERMATERIALSPEC,MATERMATERIALTYPE,lph.PRINTDATE,lph.PALLET from LPC_PRINTHISTORY lph join LPC_PRINTSHEET lps ON lph.pk_order_b = lps.pk_order_b  where lps.PK_ORDER_B = #{PK_ORDER_B} And lph.SUPPLOTNUM=#{SUPPLOTNUM} And lps.SUPPLOTNUM=#{SUPPLOTNUM}
    </select>

</mapper>